
    <link rel="StyleSheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <body>
        <div class="container-fluid">

            <section class="sec-1">
                <div class="sec-1-writeup">
                    <div class="busy-work"><p>Forget Busy Work,<br /> Start Next Vacation</p></div>
                    <div class="we-provide"><p>We provide what you need to enjoy your<br /> holiday with family. Time to make another<br /> memorable moments</p></div>
                    <div class="sec-1-button"><a href="">Show Me Now</a></div>

                    <div class="icons">
                        <div class="icon-1">
                            <img src="~/Hotel Image files/icon/lock.png" />
                            <p><b>80,409</b> travelers</p>
                        </div>
                        <div class="icon-2">
                            ]
                            <img src="~/Hotel Image files/icon/snap.png" />
                            <p><b>862</b> treasure</p>
                        </div>
                        <div class="icon-3">
                            <img src="~/Hotel Image files/icon/location.png" />
                            <p><b>1,492</b> cities</p>
                        </div>
                    </div>
                </div>
                <div class="sec-1-pics">
                    <img src="~/Hotel Image files/topRight.png" />
                </div>

            </section>
            <section class="sec-2">
                <div class="mp-txt"><p>Most Picked</p></div>
                <div class="sec-2-main">
                    <div class="main-1">
                        <img src="~/Hotel Image files/MostPick1.png" />
                        <div class="main-1-txt">Blue Origin Fams<br /> <span>Jarkata Indonesia</span></div>
                        <div class="main-1-top">$50 per night</div>
                    </div>
                    <div class="main-2">
                        <div class="main-2-1">
                            <img src="~/Hotel Image files/M1.png" />
                            <div class="main-2-txt">Ocean Land<br /> <span>Bandung Indonesia</span></div>
                            <div class="main-2-top">$22 per night</div>
                        </div>
                        <div class="main-2-2">
                            <img src="~/Hotel Image files/M2.png" />
                            <div class="main-21-txt">Vinna Vill<br /> <span>Malang Indonesia</span></div>
                            <div class="main-21-top">$62 per night</div>
                        </div>
                    </div>
                    <div class="main-3">
                        <div class="main-3-1">
                            <img src="~/Hotel Image files/M3.png" />
                            @*                     <div class="main-3-txt">Stack House<br /> <span>Malang Indonesia</span></div>
                        <div class="main-3-top">$856 per night</div> *@
                        </div>
                        <div class="main-3-2">
                            <img src="~/Hotel Image files/M4.png" />
                            @*                     <div class="main-31-txt">Bobox<br /> <span>Medan Indonesia</span></div>
                        <div class="main-31-top">$72 per night</div> *@
                        </div>
                    </div>
                </div>



            </section>

            <div class="spacing"></div>

            <section>
                <div class="sec-3-txt"><p>Houses with beauty backyard</p></div>
                <div class="sec-3-main">
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-3-img1"><img src="Hotel Image files/H1.png" /></div>
                        <div class="caption">
                            <h5>Tabby Town</h5>
                            <p>Gunung Batu, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-3-img2"><img src="Hotel Image files/H2.png" /></div>
                        <div class="caption">
                            <h5>Anggana</h5>
                            <p>Bogor, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-3-img3"><img src="Hotel Image files/H3.png" /></div>
                        <div class="caption">
                            <h5>Seattle Rain</h5>
                            <p>Jakarta, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-3-img4"><img src="Hotel Image files/H4.png" /></div>
                        <div class="caption">
                            <h5>Wodden Pit</h5>
                            <p>Wonosobo, Indonesia</p>
                        </div>
                    </a>

                </div>
            </section>

            <div class="spacing"></div>

            <section>
                <div class="sec-4-txt"><p>Hotels with large living room</p></div>
                <div class="sec-4-main">
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-4-img1"><img src="Hotel Image files/Lr1.png" /></div>
                        <div class="caption">
                            <h5>Green Park</h5>
                            <p>Tangerang, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-4-img2"><img src="Hotel Image files/Lr2.png" /></div>
                        <div class="caption">
                            <h5>Podo Wae</h5>
                            <p>Madiun, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-4-img3"><img src="Hotel Image files/Lr3.png" /></div>
                        <div class="caption">
                            <h5>Silver Rain</h5>
                            <p>Bandung, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-4-img4"><img src="Hotel Image files/Lr4.png" /></div>
                        <div class="caption">
                            <h5>Cashville</h5>
                            <p>Kemang, Indonesia</p>
                        </div>
                    </a>
                </div>
            </section>

            <div class="spacing"></div>

            <section>
                <div class="sec-5-txt"><p>Apartments with kitchen set</p></div>
                <div class="sec-5-main">
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-5-img1"><img src="Hotel Image files/Ks1.png" /></div>
                        <div class="caption">
                            <h5>PS Wood</h5>
                            <p>Depok, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-5-img2"><img src="Hotel Image files/Ks2.png" /></div>
                        <div class="caption">
                            <h5>One Five</h5>
                            <p>Jakarta, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-5-img3"><img src="Hotel Image files/Ks3.png" /></div>
                        <div class="caption">
                            <h5>Minimal</h5>
                            <p>Bogor, Indonesia</p>
                        </div>
                    </a>
                    <a href="Hotel Image files/H1.png">
                        <div class="sec-5-img4"><img src="Hotel Image files/Ks4.png" /></div>
                        <div class="caption">
                            <h5>Stays Home</h5>
                            <p>Wonosobo, Indonesia</p>
                        </div>
                    </a>

                </div>
            </section>

            <section class="sec-1">
                <div class="sec-2-pics">
                    <img src="~/Hotel Image files/Bottom_img.png" />
                </div>
                <div class="sec-1-writedown">
                    <div class="busy-work"><h3>Happy Family</h3></div>
                    <img src="~/Hotel Image files/StarStar.png" />
                    <div class="we-provide"><h3>What a great trip with my family and I should try again next time soon ...</h3></div>
                    <div class="we-provide"><p>Angga, Product Designer</p></div>
                    <div class="sec-1-button"><a href="">Read Their Story</a></div>

                </div>

            </section>

        </div>


    </body>